.video_item {
  list-style: none;
  display: flex;
  padding: 1rem;
  width: 50%;
  box-sizing: border-box;
}
.video_thumbnail {
  width: 30%;
}
.video_description {
  display: flex;
  felx-direction: column;
  align-items: center;
  justify-content: center;
}
