.video_item {
  list-style: none;
  display: flex;
  width: 40%;
  cursor: pointer;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid lightgray;
}
.video_thumbnail {
  width: 30%;
}
.video_description {
  display: flex;
  felx-direction: column;
}
